# Compiled Source #
###################
trap2
*.o
*.so

# Output Data #
###############
outputs/*

# Temporary Files #
###################
*~
*.swp

# Visual Studio Specific #
##########################
debug/*
release/*
*.suo
*.u2d
