# Compiled Source #
###################
trap2
*.o
*.so

# Output Data #
###############
outputs/*

# Temporary Files #
###################
*~

# Visual Studio Specific #
##########################
debug/*
*.suo
*.u2d